rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // cada pessoa lê e grava apenas os próprios dados
    match /usuarios/{uid}/{documento=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
